.pokemon {
  width: 300px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  /* flex: 3; */
}

.wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  flex-flow: wrap;
  /* width: 1000px; */
  margin: auto;
  box-sizing: border-box;
}

img {
  width: 250px;
}
